.about {
    margin: 10px auto;
    width: 80%;
    position: relative;
    padding: 10px;
    color: rgb(25, 138, 53);
}
    h2 {
      text-align: center;
      text-decoration: dotted;
      color: rgb(30, 114, 129);
    }
    
    img {
          width: 500px;
          height: 500px;
          border-radius: 100px;
        }
      
    .text {
      position: absolute;
      float: right;
      left: 50%;
      top: 10%;
      width: 50%;
    }
  
    button {
        background-color: #042b79 ;
        color: #ffffff;
        padding: 5px;
        font-size: 11px;
        border-radius: 8px;
    
    }
    .scroll {
      margin: 8px;
    }